<div class="container body-container">

  <!--  Content Area-->
  <div class="row content mt-50">
    <div class="col-md-9 body-left pr-20">

      <section>
        <div class="row p-1 m-0 mt-5" >
          <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
          <p class="font-italic font-weight-light text-secondary pl-2 pt-2"> Agility 360 shared an article</p>
        </div>
        <div class="row p-3 m-0">
          <h3 class="font-weight-light ">33 Jobs That You Can Work From Home</h3>
        </div>
        <div class="row post p-3 m-0 border-bottom border-dark ">
          <div class="col-md-6 post-left p-3 m-0 " style="height: 250px; background-image: url('https://s3.amazonaws.com/blog.remote.com/2018/03/georgie-cobbs-459520-unsplash-1.jpg');">
          </div>
          <div class="col-md-6 post-right p-3 m-0 ">
            <p class="font-weight-light text-secondary">Looking for work? We’ve got you covered. Here are 33 remote jobs that you can work from home. Yes, they are all currently hiring. No, employment doesn’t get any better. 1. Business Development Representative at Seated Necessary Skills: Hustlers with positive, can-do attitudes who are not afraid of rejection; Previous sales experience to small business owners is a plus; Love talk... Read Article</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row p-1 m-0 mt-5">
          <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
          <p class="font-italic font-weight-light text-secondary pl-2 pt-2"> Agility 360 shared an article</p>
        </div>
        <div class="row p-3 m-0">
          <h3 class="font-weight-light ">How to Make an Impression as a Remote Candidate</h3>
        </div>
        <div class="row post p-3 m-0 border-bottom border-dark ">
          <div class="col-md-6 post-left p-3 m-0 " style="height: 250px; background-image: url('https://s3.amazonaws.com/blog.remote.com/2018/02/patrick-perkins-350622-unsplash-1.jpg');">
          </div>
          <div class="col-md-6 post-right p-3 m-0 ">
            <p class="font-weight-light text-secondary">Learning how to stand out amongst dozens, sometimes hundreds, of candidates isn’t just an office job nightmare. Remote jobs can be a dream, which means that there are likely quite a few people competing for the ones you’re applying to. So how does one stand out in a crowd of qualified and well-learned candidates? We’ve got a few suggestions for making an impression where and when... Read Article</p>
          </div>
        </div>
      </section>


      <section>
        <div class="row p-1 m-0 mt-5">
          <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
          <p class="font-italic font-weight-light text-secondary pl-2 pt-2"> Agility 360 shared an article</p>
        </div>
        <div class="row p-3 m-0">
          <h3 class="font-weight-light ">When Is It OK to Ask for a Raise?</h3>
        </div>
        <div class="row post p-3 m-0 border-bottom border-dark ">
          <div class="col-md-6 post-left p-3 m-0 " style="height: 250px; background-image: url('https://s3.amazonaws.com/blog.remote.com/2018/02/nick-morrison-325805-1.jpg');">
          </div>
          <div class="col-md-6 post-right p-3 m-0 ">
            <p class="font-weight-light text-secondary">Asking for a raise can be intimidating, but it can also be empowering. Good employers want to support good employees, and sometimes that calls for upping their salary or pay rate. If you’re struggling with whether or not you’re at a point to ask for a raise, check out these four arguments below to see if you’ve got a case. The Company is Growing Maybe the company you’ve been wo... Read Article</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row p-1 m-0 mt-5">
          <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
          <p class="font-italic font-weight-light text-secondary pl-2 pt-2"> Agility 360 shared an article</p>
        </div>
        <div class="row p-3 m-0">
          <h3 class="font-weight-light ">34 Remote Jobs That Are Currently Hiring</h3>
        </div>
        <div class="row post p-3 m-0 border-bottom border-dark ">
          <div class="col-md-6 post-left p-3 m-0 " style="height: 250px; background-image: url('https://s3.amazonaws.com/blog.remote.com/2018/01/ian-schneider-66374-1.jpg');">
          </div>
          <div class="col-md-6 post-right p-3 m-0 ">
            <p class="font-weight-light text-secondary">Another month has come and (almost) gone, but that doesn't mean that the jobs have. Get an early start on your February job search with these 34 remote positions that are currently hiring. 1. Project Manager at utrum What they’re looking for: Working knowledge of existing blockchain technologies; knowledge of data architecture, networking, system scalability and security; knowl... Read Article</p>
          </div>
        </div>
      </section>


      <section>
        <div class="row p-1 m-0 mt-5">
          <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
          <p class="font-italic font-weight-light text-secondary pl-2 pt-2"> Agility 360 shared an article</p>
        </div>
        <div class="row p-3 m-0">
          <h3 class="font-weight-light ">Tips Every Remote Worker Wished They Knew When They Started Working Remotely</h3>
        </div>
        <div class="row post p-3 m-0 border-bottom border-dark ">
          <div class="col-md-6 post-left p-3 m-0 " style="height: 250px; background-image: url('https://s3.amazonaws.com/blog.remote.com/2018/01/image1.JPG');">
          </div>
          <div class="col-md-6 post-right p-3 m-0 ">
            <p class="font-weight-light text-secondary">If you’ve recently taken the plunge into remote working, or if you’re a longtime remote worker that just needs a little help resetting in the new year, these seven tips that every remote worker wishes they knew when they started working remotely may just turn out to be infinitely helpful. When you work remotely, you’re given a lot of freedom. Sometimes the struggle can be learn... Read Article</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row p-1 m-0 mt-5">
          <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
          <p class="font-italic font-weight-light text-secondary pl-2 pt-2"> Agility 360 shared an article</p>
        </div>
        <div class="row p-3 m-0">
          <h3 class="font-weight-light ">How to Build Community in a Remote-Friendly Workplace</h3>
        </div>
        <div class="row post p-3 m-0 border-bottom border-dark ">
          <div class="col-md-6 post-left p-3 m-0 " style="height: 250px; background-image: url('https://s3.amazonaws.com/blog.remote.com/2018/01/eye-for-ebony-340137-1.jpg');">
          </div>
          <div class="col-md-6 post-right p-3 m-0 ">
            <p class="font-weight-light text-secondary">Remote working is redefining industries, both externally as well as internally. With employees based all around the world, work culture is beginning to shift, and creating community within a remote-friendly workplace has become as important as ever. Just because team members may be spread out across the globe doesn’t mean that there can’t be a fierce sense of community within a r... Read Article</p>
          </div>
        </div>
      </section>

      <section>
        <div class="row p-1 m-0 mt-5">
          <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
          <p class="font-italic font-weight-light text-secondary pl-2 pt-2"> Agility 360 shared an article</p>
        </div>
        <div class="row p-3 m-0">
          <h3 class="font-weight-light ">6 Ways to Prep for a Job Search in the New Year</h3>
        </div>
        <div class="row post p-3 m-0 border-bottom border-dark ">
          <div class="col-md-6 post-left p-3 m-0 " style="height: 250px; background-image: url('https://s3.amazonaws.com/blog.remote.com/2018/01/IMG_2280.jpg');">
          </div>
          <div class="col-md-6 post-right p-3 m-0 ">
            <p class="font-weight-light text-secondary">With the New Year comes a refreshed sense of purpose. Why not put that ambition into a remote job search? Check out our six ways to prep for a job search in 2018. There’s no better time to start doing want you want then now. Start your January off with a bountiful job hunt. 1. Update Your Profile If you’re going to be searching for remote jobs on the world’s leading platform for... Read Article</p>
          </div>
        </div>
      </section>




    </div>
    <div class="col-md-3 ">
      <section>
        <div class="row p-1 m-0 mt-5 pt-4 border border-light">
          <div class="text-center mb-3" style="width: 100%;">
            <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
            <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
            <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
          </div>
          <p class="font-weight-light text-secondary p-2">Donec ultricies id arcu eu semper. Sed et nisl non nisl ullamcorper sollicitudin.</p>
          <div class="text-center" style="width: 100%;">
            <button type="button" class="btn btn-primary mb-3">Sign Up</button>
          </div>
        </div>
      </section>

      <section>
        <div class="row p-1 m-0 mt-5 pt-4 border border-light">
          <div class="text-center mb-3" style="width: 100%;">
            <h5>Jobs You Might Like</h5>
          </div>

          <section>
            <div class="row p-1 m-0 ">
              <div class="col-md-3 p-3 m-0 ">
                <span class="bg-secondary border rounded-circle p-3 text-light">JT</span>
              </div>
              <div class="col-md-9 pl-4 m-0 font-weight-light small text-secondary">
                <span class="text-dark">Android Developer</span>
                <p><small>Full Time</small></p>
              </div>
            </div>
          </section>
          <section>
            <div class="row p-1 m-0 ">
              <div class="col-md-3 p-3 m-0 ">
                <span class="bg-secondary border rounded-circle p-3 text-light">SW</span>
              </div>
              <div class="col-md-9 pl-4 m-0 font-weight-light small text-secondary">
                <span class="">Sensus Software Engineer</span>
                <p><small>$50-$75k /yr - Full Time</small></p>
              </div>
            </div>
          </section>

          <section>
            <div class="row p-1 m-0 mt-5 pt-4 border border-light">
              <div class="text-center mb-3" style="width: 100%;">
                <img src="../../../assets/img/agility360-logo-transparent-512x512.png" class="img-rounded" alt="Agility 360 Logo" width="35px" height="35px">
              </div>
              <p class="font-weight-light text-secondary p-2">Donec ultricies id arcu eu semper. Sed et nisl non nisl ullamcorper sollicitudin.</p>
            </div>
          </section>


        </div>  <!-- -Section row -->
      </section>


    </div>
  </div>

</div>
